<div style="margin-top:50px">
    <p appIncreaseFontTwice appDecreaseFontTwice style="padding: 20px">Last added name : {{empName}}
    </p>
    <p appIncreaseFontTwice appDecreaseFontTwice style="font-size: 28px; padding: 20px">
        Last added position : {{empPosition}}</p>

    <mat-selection-list #employees [multiple]="false">
        <strong> List of Employees:</strong>
        <mat-list-option *ngFor="let emp of employeeList; index as i">{{i+1}}. {{emp.empName}} ->
            {{emp.empPosition}}
        </mat-list-option>
    </mat-selection-list>
</div>